* {
  margin: 0;
  padding: 0;
  /* color: #556970; #04AA6D */
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

main {
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  height: 40px;
  z-index: 999;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  color: white;
}
header.scrolled {
  height: 30px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: black;
  z-index: 999;
  transition: all 0.5s ease-in;
}
nav {
  height: 30px;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 30%;
  color: #f5f5f5;
}
.logo h1 {
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 2px;
  color: blue;
  font-size: 40px;
}
/* .logo img {
  width: 180px;
  height: 30px;
  border-radius: 5px;
} */
.nav-links {
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.nav-links li {
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
  text-transform: uppercase;
}
.hamburger {
  width: 20%;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.hamburger .span {
  width: 30px;
  height: 2px;
  background-color: white;
}
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 650px;
  width: 100%;
  gap: 10px;
}
.hero::before {
  content: "";
  position: absolute;
  top: -10%;
  left: 0;
  min-height: 650px;
  width: 100%;
  background-image: url(./pexels-rebeca-medeiros-333886492-27797571.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -1;
  filter: brightness(50%);
}

.hero-title {
  width: 50%;
}
.hero-title h1 {
  text-align: center;
  color: rgb(255, 255, 255);
}

.search {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 17px;
  -webkit-border-radius: 0;
}
.search-btn {
  width: 30%;
  padding: 10px;
  background-color: #556970;
  color: white;
  border: none;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.search-btn:hover {
  background-color: black;
}
.hotlinks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 17px;
}
.hotlinks .links-hot {
  cursor: pointer;
}
.hotlinks .links-hot:nth-child(1) {
  color: white;
  background-color: black;
  border-radius: 15px;
  padding: 15px;
}
.gallery-head-info {
  padding: 80px;
}
.gallery-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.masonry-grid {
  column-count: 3;
  column-gap: 10px;
  padding: 15px;
  width: 100%;
  margin: 0px 35px;
  /* max-width: 1200px; */
}
.grid-item {
  background-color: #fff;
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  cursor: pointer;
}
.pagination {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 50px;
  padding: 20px 0px;
}
#prev {
  width: 100px;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid black;
}
#next {
  width: 100px;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid black;
}
.gallery-head-info h2 {
  font-family: "Luckiest guy", cursive;
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
}
.footer {
  width: 100%;
  padding: 100px 0px;
  background-color: rgb(205, 205, 254);
}
.footer h1 {
  font-family: "Luckiest guy", cursive;
  text-align: center;
  font-size: 40px;
}
.modal{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 80%;
  height: 80%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  
 
}
@media (max-width: 760px) {
  .hero-title {
    width: 100%;
  }
  .nav-links {
    display: none;
  }
  .nav-links.open {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    top: 50px;
    left: 0;
    gap: 0;
    background-color: white;
    color: black;
    z-index: 999;
    animation: heightSlide 0.5s forwards;
  }
  @keyframes heightSlide {
    0% {
      height: 0;
    }
    100% {
      height: 100vh;
    }
  }
  .nav-links li {
    margin-top: 20px;
    margin-left: 22px;
  }
  .logo {
    width: 40%;
    height: 30px;
  }
  .hamburger {
    display: flex;
    width: 50%;
    align-items: end;
    cursor: pointer;
    /* transition: all 0.5s ease; */
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .search {
    width: 80%;
  }
  .masonry-grid {
    column-count: 2;
    margin: 0px 5px;
  }
}
